/* main_cta_button */
.main_cta_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #000b2d;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.main_cta_button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
  opacity: 0;
}

.main_cta_button:hover .button__icon-svg {
  transform: translateX(5px);
}

.secondary_cta_button:hover .button__icon-svg {
  transform: translateX(5px);
}

/* end-main_cta_button */

/* secondary_cta_button */

.secondary_cta_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
  background-color: transparent;
  position: relative;
  background: linear-gradient(113.03deg, #225AEB 14.91%, #37B8B9 85.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary_cta_button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, #225AEB 0%, #38B8B9 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.secondary_cta_button .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #000b2d;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.secondary_cta_button:hover {
  opacity: 0.9;
}

/* end-secondary_cta_button */

/* outline_cta_button */

.outline_cta_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
  position: relative;
  background: linear-gradient(360deg, #13224F 0%, #0C1C46 51%, #020F3B 100%);
  border: 1px solid #1A2758;
}

.outline_cta_button:hover {
  border-color: #2a3a6e;
  opacity: 0.9;
}

/* end-outline_cta_button */

/* footer hover effect */
.hover-underline-animation {
  position: relative;
  padding-bottom: 5px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.flink:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* end-footer hover effect */


.beliveBg {
  background: transparent linear-gradient(360deg, #05133E 0%, #37446a 0%, #122153 51%, #020B2A 100%) 0% 0% no-repeat padding-box;
}

.tile,
.cs-cards-slide,
.bottom-cta,
.tile-shadow,
.al-circle {
  box-shadow: 0px 51px 78px rgba(17, 7, 53, 0.05), 0px 21.3066px 35.4944px rgba(17, 7, 53, 0.0359427), 0px 11.3915px 18.9418px rgba(17, 7, 53, 0.0298054), 0px 6.38599px 9.8801px rgba(17, 7, 53, 0.025), 0px 3.39155px 4.58665px rgba(17, 7, 53, 0.0201946), 0px 1.4113px 1.55262px rgba(17, 7, 53, 0.0140573), inset 0px 1px 0px rgba(41, 56, 78, 0.05);
}

.tile-shadow-dark {
  box-shadow: 0px 100px 80px rgba(3, 3, 6, 0.07), 0px 41.7776px 33.4221px rgba(3, 3, 6, 0.0503198), 0px 22.3363px 17.869px rgba(3, 3, 6, 0.0417275), 0px 12.5216px 10.0172px rgba(3, 3, 6, 0.035), 0px 6.6501px 5.32008px rgba(3, 3, 6, 0.0282725), 0px 2.76726px 2.21381px rgba(3, 3, 6, 0.0196802);
}


.cs-nav-slide.swiper-slide-active .cs-nav-slide-line {
  height: 4px;
}

.cs-nav-slide.swiper-slide-active .cs-nav-logo {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 100;
  transform: scale(1);
}

.cs-slider-nav-overlay {
  pointer-events: none;
}

.post-rt blockquote {
  letter-spacing: -.03em;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #a163f1, #6363f1 36%, #3498ea 67%, #40dfa3);
  -webkit-background-clip: text;
  background-clip: text;
  border-left-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 28px 0 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  position: relative;
}
